<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="container">
    <div class="topmenu">
                        <a href="/" class="block_href1"><img src="/static/img/Circles.png" alt="Main Page"></a>
                        <a href="/products/" class="block_href1"><img height="40px" width="40px" src="/static/img/shops.png" alt="Shop"></a>
                        <a href="/contacts/" class="block_href2"><img src="/static/img/contacts.png" alt="Contacts"></a>
    </div>

    <h2 class="h2class">Contact Us</h2>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, ratione.</p>
    <img src="/static/img/funnycat.jpg" width="350px" height="350px" alt="cat">
    <div class="contacts_and_form">
        <div class="contacts">
            <h4 class="h4class">Address</h4>
            <p class="paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
            <h4 class="h4class">Phone</h4>
            <ul>
                <li>+7445 3434 3445 34</li>
                <li>+743 3445 3434 23</li>
            </ul>
            <h4 class="h4class">Online service</h4>
            <ol>
                <li><a href="https://mail.ru/">Mail.ru</a> Телефон: +75454 344 3434</li>
                <li><a href="https://yandex.ru/">Yandex</a> Телефон: +7545 342 3455</li>
            </ol>
        </div>
        <div class="form_contacts">
            <h4 class="h4class">Send us message</h4>
            <form action="#">
                Full name: <input class="inpt-area" type="Full name" placeholder="John Silver"><br>
                Email: <input class="inpt-area" type="email" placeholder="email@mail.com"><br>
                Message: <textarea class="inpt-area" cols="30" rows="5"></textarea><br>
                <button class="button" type="submit">Швырнуть текст</button><br><br>
        </div>
    </div>
    <script type="text/javascript" charset="utf-8" async
        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afa51dfe1d1a573e966f34fbb891a5291b43e7c03d468f20be268a4881f576622&amp;width=1168&amp;height=664&amp;lang=ru_RU&amp;scroll=true"
        class="yandex_maps"></script>
    </form>
    Наши контакты: <br>
    <ol>
        <li>Наш верховный настоятель для первой коммуникации: +37 547885 342 . Email: nastoyatel@henso.ru</li>
        <li>Бухгалтерия для активных граждан для фин. вопросов: +45 34324 31255 . Email: buhgalteriya@henso.ru</li>
        <li>Отдел по работе со сложными клиентами и общественностью: + 65 343 2345532 . Email: hardclients@henso.ru</li>
    </ol>
    <form action="#">
        Вы также можете оставить свои контактные данные и подписаться на наш социальный канал: <br>
        Номер телефона: <input class="inpt-area" type="phone" placeholder="+79998887766"><br>
        Email: <input class="inpt-area" type="email" placeholder="mail@mail.com">
        <button class="button" type="submit">Подписаться</button>
        < class="button" type="reset">Стересть данные в форме</button>
    </form>
    <p class="paragraph"><b>Все права защищены</b> &copy;</p>
</body>

</html>