<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>



<body>
    <div class="top">
        <div class="container top__box">
            <div class="topheader">
                <div class="header">
                    <div class="topmenu">
                        {% include 'mainapp/base.html' %}
                    </div>
                    <div class="lastheader">
                        <h1 class="h1class">New Automation
                            Tool for Your </h1>
                        <p class="paragraph p_h1_text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Est excepturi aliquam porro adipisci iusto velit veritatis laborum sequi perferendis, error
                            ipsum ipsam maxime omnis non laboriosam doloribus deserunt asperiores sit!</p>
                        <a href="#" class="see_project">See our project</a>
                    </div>

                </div>
            </div>
        </div>



        <div class="topmiddle what-we-do container">
            <h3 class="h3class">What we do to help our client grow in digital era
            </h3>
            <div class="middle">
                <div class="middledown">
                    <img class="img" src="{% static 'img/boy.png' %}" alt="boy">
                    <h4 class="h4class">Третий заголовок моей страницы с h4 и более 5ти словами</h4>
                    <p class="paragraph h4after_text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia
                        porro
                        eveniet
                        fugiat sed debitis error pariatur assumenda vero ea rerum iusto, commodi, labore nam quasi
                        officia!
                        Voluptates debitis doloribus ipsa.</p>
                    <a class="card" href="#">Learn more</a>
                </div>
                <div class="middledown">
                    <img class="img" src="{% static 'img/girl1.png' %}" alt="boy">
                    <h4 class="h4class">Третий заголовок моей страницы с h4 и более 5ти словами</h4>
                    <p class="paragraph h4after_text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia
                        porro
                        eveniet
                        fugiat sed debitis error pariatur assumenda vero ea rerum iusto, commodi, labore nam quasi
                        officia!
                        Voluptates debitis doloribus ipsa.</p>
                    <a class="card" href="#">Learn more</a>
                </div>
                <div class="middledown">
                    <img class="img" src="{% static 'img/girl2.png' %}" alt="boy">
                    <h4 class="h4class">Третий заголовок моей страницы с h4 и более 5ти словами</h4>
                    <p class="paragraph h4after_text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia
                        porro
                        eveniet
                        fugiat sed debitis error pariatur assumenda vero ea rerum iusto, commodi, labore nam quasi
                        officia!
                        Voluptates debitis doloribus ipsa.</p>
                    <a class="card" href="#">Learn more</a>
                </div>
            </div>
        </div>

        <div class="secondmiddle">
            <h3 class="h3class">Our Finished Project</h3>
            <p class="paragraph h3class_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi sequi
                similique
                eveniet
                reprehenderit aperiam
                nihil atque enim maiores vel magni nemo porro id labore velit ratione libero, quis fuga doloremque?
            </p>
            <div class="project__item"><img class="project__img" src="{% static 'img/Mask1.png' %}" alt="mask1">
                <p class="project__text">Smart Home Intallation</p>
            </div>
            <div class="project__parent">
                <div class="project__item"><img class="project__img" src="{% static 'img/Mask2.png' %}" alt="mask2">
                    <p class="project__text2">Sparklite App</p>
                </div>
                <div class="project__item"><img class="project__img" src="{% static 'img/Mask3.png' %}" alt="mask3">
                    <p class="project__text3">Car-Rapetition App</p>
                </div>
            </div>
        </div>

        <div class="footer topbottom">
            <div class="container">
                <div class="bottomonemiddle">
                    <div class="bottomonedown">
                        <h3 class="h3class h3_footer"> Intersted to woek
                            with our team?</h3>
                        <p class="paragraph footer__afterh3">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Blanditiis,
                            fuga
                            quibusdam
                            consequatur
                            tempore ipsum
                            expedita, exercitationem inventore, dignissimos unde minima voluptatibus. Inventore
                            similique
                            saepe
                            incidunt
                            reiciendis neque molestiae assumenda mollitia.</p>
                    </div>
                    <div class="lets_talk">Let’s Talk</div>
                </div>
                <hr>

                <div class="bottomsecondmiddle">
                    <b class="list">Наши контакты:</b> <br>
                    <ol class="footer_list">
                        <li class="list">Наш верховный настоятель для первой коммуникации: +37 547885 342 . Email:
                            nastoyatel@henso.ru
                        </li>
                        <li class="list">Бухгалтерия для активных граждан для фин. вопросов: +45 34324 31255 .
                            Email:
                            buhgalteriya@henso.ru
                        </li>
                        <li class="list">Отдел по работе со сложными клиентами и общественностью: + 65 343 2345532 .
                            Email:
                            hardclients@henso.ru
                        </li>
                    </ol>
                    <form action="#" class="form__footer"> <br>
                        Вы также можете оставить свои контактные данные и подписаться на наш социальный канал: <br>
                        Номер телефона: <input class="inpt-area"><br>
                        Email: <input class="inpt-area" type="email" placeholder="mail@mail.com">
                        <button class="button" type="submit">Подписаться</button>
                        <button class="button" type="reset">Стереть данные в форме</button>
                        <div class="lessbottom">
                            <p class="paragraph footer__end"><b>Все права защищены {% now "Y" %} </b> &copy;</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>



</html>